@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&family=Space+Grotesk:wght@500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;
    font-family: 'Space Grotesk', sans-serif;

}


body {
    // background-image: url(/images/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
    background-color: #50585c;
}

nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    height: 50px;
    background-color: rgb(230, 221, 221);
    width: 100%;


}

.nav__left {
    display: flex;
    align-items: center;
    padding: 5px 15px;
    gap: 10px;
}

#nav__title {
    font-size: 18px;
    color: green;
    font-weight: bold;

}

#nav__img {
    height: 40px;
}

.nav__right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding-left: 15px;
    gap: 25px;
}

.nav__button {
    background-color: rgb(112, 105, 105);
    height: 30px;
    width: 100px;
    border-radius: 8px;
    border: transparent;
    color: white;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;

    &:hover {
        cursor: pointer;
        background-color: rgb(10, 10, 10);
        transition: background-color .6s;
    }
}




.welcome {
    display: grid;
    height: 100vh;
    width: 100%;
    padding: 8% 5%;
    grid-template-columns: 50% 50%;

    &__left {
        width: 100%;
        padding: 5%;

        & h1 {
            font-size: 55px;
            color: green;
            margin-bottom: 70px;

        }

        & p {
            font-size: 20px;
            color: white;
        }

    }

    &__slogan {
        color: green;
    }

    &__figure {
        display: flex;
        justify-content: center;
    }

    &__img {
        height: 250px;
        width: 240px;
    }

}

.login {
    margin: 5% 5%;
    padding: 2% 5%;
    color: green;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    height: 90%;
    background-color: rgb(218, 207, 207);
    border-radius: 10px;
    font-weight: bold;
    width: 90%;

    &__data {
        display: flex;
        flex-direction: column;
        width: 50%;

        &__inputs {
            height: 30px;
            border: transparent;
            border-radius: 8px;
            padding: 2% 5%;
            margin-top: 5%;
            margin-bottom: 5%;
        }


    }

    & h3 {
        font-size: 25px;
    }

    &__submit {
        background-color: rgb(112, 105, 105);
        height: 40px;
        width: 50%;
        border: transparent;
        border-radius: 8px;
        font-weight: bold;
        font-size: 15px;
        color: white;

        &:hover {
            cursor: pointer;
            background-color: rgb(10, 10, 10);
            transition: background-color .6s;
        }

    }



}

.containerForm {
    height: 100%;
    width: 60%;
    margin: 0 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.form {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: bold;
    width: 70%;

    & h1 {
        color: white;
        font-size: 35px;
    }

    & label {
        color: green;
        font-size: 18px;
    }

    & input {
        height: 35px;
        border-radius: 8px;
        border: transparent;
        padding-left: 3%;
        margin-bottom: 2%;
    }

    &__submit {
        background-color: rgb(112, 105, 105);
        height: 40px;
        width: 100%;
        border: transparent;
        border-radius: 8px;
        font-weight: bold;
        font-size: 15px;
        color: white;

        &:hover {
            cursor: pointer;
            background-color: rgb(10, 10, 10);
            transition: background-color .6s;
        }
    }
}

#signUp__phrase {
    border-radius: 5px;
    padding: 1% 2%;
    margin-bottom: 2%;
    outline: none;

}


.all {
    display: flex;
    width: 100%;
    height: 100%;
}

.aside {
    height: 100vh;
    width: 30%;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 6px;

        &-thumb {
            background-color: rgb(144, 150, 144);
            border-radius: 8px;
        }
    }

    &__figure {
        background-color: #ededed;
        height: 60px;
        padding: 10px;
        
        & img {
            cursor: pointer;
        }
    }

    & h1 {
        display: none;
    }

    &__img {
        height: 40px;
        border-radius: 50%;
        background-color: rgb(116, 116, 145);
    }

    &__search {
        height: 60px;
        background-color: #f6f6f6;
        display: flex;
        justify-content: center;
        padding: 10px;
    }

    &__inputSearch {
        height: 40px;
        display: flex;
        align-items: center;
        background-color: white;
        width: 95%;
        border-radius: 30px;
        gap: 10px;
        padding-left: 15px;
    }

    &__input {
        padding-left: 2%;
        height: 100%;
        width: 100%;
        border: transparent;
        border-radius: 30px;
        outline: none;
    }

}



.chat {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__container {
        display: flex;
        width: 100%;
        padding-left: 10px;

        &:hover {
            background-color: #f0eaea;
            cursor: pointer;
        }
    }


    &__figure {
        display: flex;
        align-items: center;
    }

    &__img {
        height: 40px;
        background-color: rgb(103, 96, 110);
        border-radius: 50%;
    }

    &__name {
        display: flex;
        justify-content: space-between;
    }

    &__infoUser {
        padding: 0 10px;
        display: flex;
        flex-direction: column;
        width: 85%;
        height: 60px;
        justify-content: center;
        gap: 8px;
        border-bottom: 1px solid #f8f6f6;

        & span {
            color: #b6b6b6;
        }
    }

    &__message {
        display: flex;
        gap: 5px;

        & span {
            overflow: hidden;
            width: 80%;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        & img {
            height: 16px;
            width: 16px;
        }

    }




}


.messages {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100vh;
    background-color: #ededed;

    &__header {
        height: 60px;
        padding: 10px;
    }

    &__user {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;


    }

    &__figure {
        display: flex;
        gap: 5px;
    }

}



#img__user2 {
    height: 40px;
    border-radius: 50%;
    background-color: cadetblue;
}

#messages__user2__name {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

#messages__user2__name span {
    font-size: 12px;
    color: #afa8a8;
}

main {
    // background-image: url(/images/fondoWpp.jpg);
    width: 100%;
    height: 100vh;
    padding: 10px 0px 10px 10px;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;

}

.main__all__messages::-webkit-scrollbar {
    width: 6px;

}

.main__all__messages::-webkit-scrollbar-thumb {
    background-color: rgb(144, 150, 144);
    border-radius: 8px;
}

.main__day {
    display: flex;
    justify-content: center;
    width: 100%;
}

.main__day p {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e4f3fa;
    font-size: 18px;
    height: 30px;
    width: 100px;
    border-radius: 8px;
    color: #50585c;
}

.main__all__messages {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;

}

.message {
    max-width: 55%;
    border-radius: 8px;
    padding: 5px;
}

.main__messages2 p {
    display: flex;
    justify-content: end;
}

.main__right {
    background-color: #e1f6cb;
    align-self: flex-end;
    border-radius: 10px 0px 10px 10px;
    margin-right: 10px;
}

.message__date {
    display: flex;
    justify-content: end;
    color: #afa8a8;
    font-size: 14px;

}

.main__left {
    background-color: white;
    border-radius: 0px 10px 10px 10px;
}

.form__footer {
    display: flex;
    align-items: center;
    padding: 0 1%;
    width: 100%;
    height: 80px;
    background-color: #ededed;
    gap: 10px;
}

.footer__figure {
    display: flex;
    gap: 15px;
    width: 100px;
    justify-content: center;
}

#footer__input {
    width: 84%;
    height: 50px;
    border-radius: 10px;
    border: transparent;
    padding-left: 5px;
    font-size: 18px;
    outline: none;
}

footer figure img {
    height: 25px;
    width: 25px;
}

.footer__figure__mic {
    width: 4%;
    display: flex;
    justify-content: center;
}

#submit__message {
    border: transparent;
}
.aside__profile{
    width: 30%;
    height: 100vh;
    background-color: #f3f3f3;

    &__back{
        background-color: #49b39c;
        height: 15%;
        display: flex;
        align-items: flex-end;
        color: white;
        font-size: 18px;
        gap: 10px;
        padding-left: 5px;
        padding-bottom: 10px;

        & button{
            display: flex;
            align-items: center;
            height: 20px;
            background-color: transparent;
            border: transparent;
            cursor: pointer;
            
        }
    }
    &__img{
        background-color: #f3f3f3;
        height: 35%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        & div{
            background-color: #737373;
            border-radius: 100%;
            height: 150px;
            width: 150px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white;
            
            &:hover{
                cursor: pointer;
                background-color:#50585c;
                transition: background-color .7s;

            }

        }
        &__section {
            height: 30px;
            width: 80%;
            padding: 10px;
            border: 1px solid gray;
            border-radius: 8px;
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            & input{
                width: 100%;
                border: none;
                outline: none;
                background-color: transparent;
            }
            & button {
                background-color: transparent;
                border: none;
                cursor: pointer;
                display: flex;
                align-items: center;
                 &:hover{
                    transform: scale(1.3);
                    transition: transform .5s;
                }
            }
        }
    }
    &__data{
        width: 100%;
        background-color: white;
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        & p{
            font-size: 16px;
            color: #737373;
        }
        & small{
            display: flex;
            justify-content: space-between;

            & span{
                font-size: 15px;
                font-weight: bold;
            }

            & img {
                cursor: pointer;
            }
        }
        &__button{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px;
            border-radius: 10px;
            outline: none;
            height: 40px;
            border: 1px solid gray;
            
            & input {
                height: 100%;
                border: none;
                outline: none;
                width: 100%;
            }
            & button{
                border: none;
                background-color: transparent;
                cursor: pointer;
                display: flex;
                align-items: center;
                
                &:hover{
                    transform: scale(1.3);
                    transition: transform .5s;
                }
            }
        }
    }
}

.invisible {
    display: none;
}

.hidden {
    display: none;
}

@media (max-width:755px) {
    .welcome {
        grid-template-columns: auto;
        height: 100%;
    }
}